* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

:root {
  //COLORS

  --green: hsl(160deg, 100%, 30%);
  --green: hsl(160deg, 100%, 30%);
  --gold-light: hsl(45deg, 100%, 50%);
  --gold-dark: hsl(45deg, 100%, 40%);
  //GRAYS
  --black: hsl(0deg, 0%, 0%);
  --gray-darkest: hsl(0deg, 0%, 10%);
  --gray-dark: hsl(0deg, 0%, 30%);
  --gray: hsl(0deg, 0%, 40%);
  --gray-light: hsl(0deg, 0%, 60%);
  --white: hsl(0deg, 0%, 100%);
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 3rem;
}

header {
  border-bottom: 8px solid var(--gray-light);
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 1rem;
}
p:last-child {
  margin-bottom: 0;
}

.max-width-wrapper {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 24px;
}

.intro-chunk {
  padding-top: 96px;
  padding-bottom: 64px;
  max-width: 415px;
}

strong {
  color: var(--green);
}

main {
  background-color: var(--gray);
  padding: 64px 0;
}

.card {
  background-color: var(--white);
  padding: 24px;
  margin: 0 -24px;
  border-bottom: 8px solid var(--gray-light);
}

.indented-heading {
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 0;
  background-color: var(--gold-light);
  max-width: fit-content;
  padding: 16px 32px;
  border-bottom: 8px solid var(--gold-dark);
  margin-left: -32px;
  margin-top: -16px;
  margin-bottom: 1rem;
}
